* {
  box-sizing: border-box;
}

:root {
  --color-primary: #0084E7;
  --color-primaryLighter: #2897ec;
  --color-primaryLightest: #4db2ff;
  --color-primaryWhitish: #bbe0fd;
  --color-primaryDarker: #0076d1;
  --color-primaryDarkest: #016abb;
  --color-primaryText: #fff;
  --color-secondary: #FFE801;
  --color-secondaryLightest: #fffbd7;
  --color-secondaryText: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


